@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --primary-color: #F9FAF8;
    --bg-color: #1F2937;
    --ff: "Roboto", sans-serif;
    --btn-color: #3882F6;
}

body {
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero-maincontainer {
    background: var(--bg-color);
    color: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 100px;
    
}

.hero-container {
    width: 100%;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
    max-width: 900px;
    margin: 0 auto;
    width: 100%;
}

.link-logo {
    font-weight: bold;
    
}

nav a {
    font-family: var(--ff);
    text-decoration: none;
    color: white;
}

.navlinks {
    display: flex;
    gap: 10px;
    font-weight: lighter;
}

.hero-parent {
    display: flex;
    gap: 40px;
    align-items: center;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
}

.hero-text {
    flex: 1;
    
}

.hero-sub {
    font-weight: bolder;
    font-size: 48px;
    font-family: var(--ff);
    margin: 0;
}

.hero-des {
    font-size: 18px;
    font-family: var(--ff);
    font-weight: lighter;
    margin-top: 0;
}

.sign-btn {
    background: var(--btn-color);
    color: var(--primary-color);
    padding: 10px 30px;
    text-decoration: none;
    font-weight: bold;
    font-family: var(--ff);
    border-radius: 10px;

}

img {
    width: 100%;
}

.information-sec {
    background: white;
    padding: 20px;
    
}

.information-head {
    color: #1F2937;
    text-align: center;
    font-family: var(--ff);
    font-size: 36px;
    font-weight: bolder;
    padding: 20px;
    
}

.information-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
}



.box1 {
    background-color: white;
    color: wheat;
    border: 3px solid var(--btn-color);
    width: 130px;
    height: 130px;
    display: inline-block;
    border-radius: 10px;
    margin-left: 20px;
}

.boxdes {
    color: gray;
    font-family: var(--ff);
    font-size: 18px;
    text-align: center;
   
}

.quote-div {
    background: #E5E7EB;
}

.quote-sec {
    
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    padding: 50px;
}

.quote-text {
    color: var(--bg-color);
    font-family: var(--ff);
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    text-align: left;
    
}

.author {
    color: #1F2937;
    font-family: var(--ff);
    text-align: end;
    font-weight: bold;
    padding-right: 50px;
}

.signup-sec {
    background: white;
    padding: 0;
    margin: 0;
}

.signup-container { /* Parent */
    background: #3882F6;
    padding: 50px;
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    border-radius: 10px;
    margin-top: 75px;
    margin-bottom: 75px;
}

.signup-div { /* Parent */
    display: flex;
    align-items: start;
    flex-direction: column;
    
}

.calltoaction {
    font-family: var(--ff);
    color: white;
    font-weight: bold;
    margin-bottom: 0;
    font-size: large;
}

.signup-text {
    font-family: var(--ff);
    color: white;
    margin-top: 0;
}

.sign-btn2 {
    background: none;
    border: 3px solid var(--primary-color);
    color: var(--primary-color);
    padding: 10px 30px;
    text-decoration: none;
    font-weight: bold;
    font-family: var(--ff);
    border-radius: 10px;
}